.formbox {
    padding: 50px 30px;
}

.loginCont {
    display: flex;
    flex-direction: column;
}

.inputName {
    width: 100%;
}

.header {
    width: 100vw;
    height: 50px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #84cce2;
    display: flex;
    justify-content: center;
}

.header div {
    display: flex;
}

.header div p {
    padding: 3px 10px;
    font-size: 30px;
}

.sumbitBtn {
    display: flex;
    justify-content: flex-end;
}

.last-main {
    margin: 5% auto;
    width: 40%;
    height: 50%;
    padding: 20px;
    background-color: aliceblue;
}

input[type=text],
input[type=email],
input[type=number],
.last-main textarea {
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0px;
}

.name-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name-form div {
    width: 45%;
}

.button-form {
    display: flex;
    justify-content: flex-end;
}

.resultContainer {
    width: 80%;
    margin: 0 auto;
    background-color: lightslategray;
    display: flex;
    flex-wrap: wrap;
}

.result {
    width: calc(100%/3);
    padding: 10px 10px;
}
.table {
	background-color: white;
}