.formbox {
    padding: 50px 30px;
}

.modalclass {
    display: flex;
    flex-direction: column;
}

.inputName {
    width: 100%;
}

.header {
    width: 100vw;
    height: 50px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #84cce2;
    display: flex;
    justify-content: center;
}

.header div {
    display: flex;
}

.header div h3 {
    padding: 3px 10px;
}

.sumbitBtn {
    display: flex;
    justify-content: flex-end;
}

.last-head2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-main {
    width: 40%;
    height: 50%;
    padding: 20px;
}

input[type=text],
input[type=email],
input[type=number],
.last-main textarea {
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0px;
}

.name-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name-form div {
    width: 45%;
}

.button-form {
    display: flex;
    justify-content: flex-end;
}