.top {
    height: 100vh;
    background: url(images/bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.transparent {
    height: 100vh;
    background-color: #0000006c;
}

.logo span {
    width: 116px;
    height: 26px;
    color: #ffc100;
    font-family: "Source Sans Pro - Semibold";
    font-size: 35px;
    font-weight: 400;
    line-height: 65.06px;
}

.logo span {
    font-weight: 600;
}

.logo span span {
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: 300;
}

.top-text-1 {
    margin: 10% 0;
}

.top-text-1 span {
    color: #f5efec;
    font-family: Roboto;
    font-size: 6vmax;
    font-weight: 700;
    line-height: 78px;
    text-transform: uppercase;
}

.top-text-1 span span {
    color: #ffc100;
}

.top-text-2 p {
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.arrow {
    width: 72px;
    height: 52px;
    border-radius: 26px;
    background-color: #f5efec;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shape {
    width: 24px;
    height: 24px;
    border: 1px solid #ffffff;
    background-color: #f5efec;
}

.how-it-works {
    background-color: #f5f5f5;
    padding: 100px 0;
}

.how-text {
    color: #1496d2;
    font-family: Roboto;
    font-size: 42px;
    font-weight: 300;
    line-height: 24.16px;
    text-transform: uppercase;
}

.thumbnail {
    border: 1px solid rgba(53, 52, 50, 0.3);
    background-color: #ffffff;
}

.caption ol {
    color: #353432;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
}

.why-choose-us {
    background: url(images/black.jpg) no-repeat;
    background-size: cover;
}

.transparent2 {
    background-color: rgb(255, 255, 255, .2);
    height: 100%;
    padding: 100px 0;
}

.choose-text1 {
    color: #ffc100;
    font-family: Roboto;
    font-size: 42px;
    font-weight: 300;
    line-height: 24.16px;
    text-transform: uppercase;
}

.choose-text2 {
    color: #ffc100;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 24.16px;
}

.choose-text3 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 24.16px;
}

.choose-text4 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 24.16px;
}

.coache-text {
    color: #1496d2;
    font-family: Roboto;
    font-size: 42px;
    font-weight: 300;
    line-height: 24.16px;
    text-transform: uppercase;
}

.our-coaches-bg {
    background: url(images/choache.png) no-repeat;
    background-size: cover;
    height: 248px;
}

.our-coaches-bg:hover .our-coaches-hover {
    opacity: 1;
    cursor: pointer;
}

.our-coaches-hover {
    opacity: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s;
}

padding: 100px 0;
.our-coaches-hover p {
    color: #ffc100;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 33px;
    text-transform: uppercase;
}


/* 
.how-it-works,
.top,
.why-choose-us, .our-coaches {
    display: none;
} */