
@media (min-width: 768px) and (max-width: 1024px) {
    .name-form {
        flex-direction: column;
    }
    .name-form div {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .name-form {
        flex-direction: column;
    }
    .name-form div {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .name-form {
        flex-direction: column;
    }
    .name-form div {
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .name-form {
        flex-direction: column;
    }
    .name-form div {
        width: 100%;
    }
}

@media (max-width:320px) {
    .name-form {
        flex-direction: column;
    }
    .name-form div {
        width: 100%;
    }
}
